*{
    padding: 0;
    margin: 0;
}
*,
::after,
::before{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #000;
    font-size: 14px;
    line-height: 1.3;
    margin: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col{
    width: 360px;
    position: relative;  
    min-height: 350px;
    color: #fff;
    overflow: hidden;
}
.col-1{
    background-image: url(../img/baili.png);
}
.col-2{
    background-image: url(../img/dubai.png);
}
.col-3{
    background-image: url(../img/avastrayla.png);
}
.col-1 .col-info{
     background-color: #C68C5780;
}
.col-2 .col-info{
    background-color: #0F5C9F80;
}
.col-3 .col-info{
    background-color: #1B585980;
}
.col-info{
    width: 100%;
    height: 75px;
    position: absolute;
    bottom: 0;
    padding: 20px 15px 13px;
    transition: 3s;
}
.col:hover .col-info{
    bottom: 350px;
}
.col-title{
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 7px;
}
.icon-text-block{
    display: flex;
    justify-content: space-between;
}
.icon-star{
    color: yellow;
}
.col-hover{
    width: 100%;
    min-height: 0px;
    visibility: hidden;
    position: absolute;
    top: 350px;
    padding: 45px 24px 20px;
    transition: 3s;
}
.col:hover .col-hover{
    min-height: 350px;
    visibility: visible;
    top: 0px;
}
.col-hover-1{
    background-color: #C68C5780;
}
.col-hover-2{
   background-color: #0F5C9F80;
}
.col-hover-3{
   background-color: #1B585980;
}
.col-hover-btn::after{
    content:"";
    display: inline-block;
    width: 17px;
    height: 17px;
    border-style: solid;
    border-width: 7px 3px 7px 12px;
    border-color: transparent transparent transparent #fdfeff;
}
